/* Write CSS code here */
/* latin-ext */
body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    background-color: #047ade;
}.header{
    background:#011a37 !important ;
    margin: -1rem;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2rem;
    margin-left: 70rem;
    margin-right: 5rem;
}
.nav_item{
    display: inline-block;
    margin-left: 2rem;
}
.nav_link{
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}
.nav_link::after{
    content: "";
    height: 2.5px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -15px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}
.nav_link:hover::after{
    opacity: 1;
}
.main{
    color: #fff;
    letter-spacing: 2px;
}
.main>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 8px;
    font-weight: 500;
}
.main>p{
    font-size: 1.5rem;
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    margin-left: 8rem;
    grid-gap: 20px;
}
.main-aside{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    align-items: center;
    padding: 2rem;
}
.main-aside>ul>li{
    list-style-type: none;
    margin-left: -2.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #333;
}
.main-aside>h2{
    font-size: 3rem;
    font-weight: 700;
}
.main>h1{
    font-size: 3.2rem;
    font-weight: 700;
}
