/* Write CSS code here */
header {
    background-color: #45484a;
    color: whitesmoke;
    padding-bottom: .8rem;
    margin: -1rem;
}

body {
    background-color: rgb(234, 229, 219);
    color: whitesmoke;
}

footer {
    background-color: #45484a;
}

.head-img {
    width: 5rem;
    height: 5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
}

.head-h3 {
    margin-top: -4.2rem;
    margin-left: 7rem;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head-li a {
    text-decoration: none;
    color: whitesmoke;
}

.head-ul {
    display: flex;
    justify-content: flex-end;
    margin-top: -3.8rem;
    margin-right: 3rem;
    width: auto;
}

.head-li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    margin-top: 1.8rem;
    margin-right: 8rem;
}

.head-a {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.head-a::after {
    content: "";
    height: 2.5px;
    width: 100%;
    background-color: rgb(171, 171, 229);
    position: absolute;
    left: 0;
    bottom: -15px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.head-a:hover::after {
    opacity: 1;
}

.hero-unit {
    margin: -1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}

.hero-unit-img {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-left: -0.2rem;
}

.hero-unit-h1 {
    position: absolute;
    top: 25%;
    left: 26%;
    font-size: 3rem;
}

.hero-unit-h2 {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 1.8rem;
}

.hero-unit-b-h2 {
    position: absolute;
    top: 46%;
    left: 43%;
    font-size: 1.9rem;
}

.hero-unit-btn {
    position: absolute;
    top: 56%;
    left: 45.5%;
    font-size: 1.2rem;
}
button{
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 8px;
    color: whitesmoke;
    background-color: #444;
    cursor:pointer;
}
button:hover{
    transition: all 0.5s;
    background-color: rgb(171, 171, 229);
    color: black;
}
.hold-card{
    display: inline-block;
}
